<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>%TITLE%</title>
</head>
<body style="background-color:#666666;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#666666;">
<tr>
<td align="center">
<table width="700" border="0" cellspacing="0" cellpadding="0" style="background-color:#ffffff;">
<tr>
<td style="background-color:#666666; padding:10px;" align="right">
<p style="font-family:Verdana; font-size:11px; font-weight:normal; color:#ffffff; margin:0; padding:0;">%BLOGNAME% | %DATE%</p>
</td>
</tr>
<tr>
<td valign="top" style="padding:20px 20px 20px 20px; background-color:#ffffff;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="440" rowspan="3" align="left" valign="top">%ARTICLES%</td>
<td width="20" rowspan="3"></td>
<td valign="top" width="200" height="163"><img src="http://mynewsletterlogotype.com/thelogo.png" width="200" height="163" alt="Logo"></td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td valign="top" align="left">
<h3 style="font-family:Verdana; font-size:15px; font-weight:bold; color:#000000; margin:0; padding:0;">User information</h3>
<p style="font-family:Verdana; font-size:12px; font-weight:normal; color:#000000; margin:0 0 10px 0; padding:0;">Name: <i>{first_name} {last_name}</i><br>Registered: <i>{user_registered_date}</i><br>Mail: <i>{user_email}</i></p>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td style="background-color:#666666; padding:10px;" align="left">
<p style="font-family:Verdana; font-size:10px; font-weight:normal; color:#ffffff; margin:0 0 8px 0; padding:0;">Footer with some text that you can define</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>